.wrapper{
    /*display: grid;*/
    /*grid-template-columns: 6fr 2fr;*/

}
.h2{
    margin: 15px 0;
    padding: 0 1%;
}
.sendBtn{
    background: #05BA02;
    font-size: 22px;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 300px;
    margin: 10px auto 30px auto;
    cursor: pointer !important;
    text-align: center;
    display: block;
}
.inputs, .selects{
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #57C325;
    box-sizing: border-box;
    border-radius: 5px;
    /*width: 250px;*/
}
.main{
    padding: 0 15% 15px 15%;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(172, 172, 172);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2em;
}
.main>div{
    display: grid;
    /*margin: 5px 0;*/
}
.details{
    /*display: flex;*/
    /*justify-content: space-between;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    font-size: 15px;
}
.details>div>label>input{
    margin: 0 5px 0 0 ;
}
.modal{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 1em;
    margin: 50px 10px;
    overflow: hidden;
}
.addressWrapper>div{
    display: grid;
    margin: 1em 0;
}
.mainText{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
}
.rejectBtn{
    display: none;
}

@media screen and (max-width: 768px){
    .main{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 0 2% 15px 2%;
    }
    .h2{
        padding: 0 2%;
    }
    .modal{
        display: grid;
        grid-template-columns: 1fr;
    }
    .rejectBtn{
        display: block;
    }

}