.wrapper{
    display: grid;
    grid-template-columns: 6fr 2fr;
}
.wrapper>div>input{
    width: 90%;
}
.sendBtn{
    background: #05BA02;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 100%;
    margin: 10px;
    margin-bottom: 50px;
}
.formWrapper>div{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.selects{
    height: 30px;
}