.wrapper{
    padding: 10px 25px;
    width: 320px;
    margin: 0 auto;
    justify-content: center;
}
.wrapper>form{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.phone>div>input{
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 4px;
}
.phone>div>input{
    height: 24px;
}
.remember{
    font-size: 12px;
    display: flex;
}
.enter>a{
    font-size: 12px;
}
.enter>button{
    float: right;
    padding: 10px;
    background: #57C325;
    border: none;
    border-radius: 4px;
    color: white;
}
.someError{
    border: 2px solid red;
    color: red;
    padding: 5px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.phone>div>input{
    height: 38px !important;
    width: 100% !important;
}
@media screen and (max-width: 768px){
    .remember>div{
        display: flex;
        font-size: 10px;
    }
}