.wrapper{
    position: relative;
    border: 1px solid  #B1B1B1;
    margin: 0  0 10px 0;
}

.wrapper>a{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.optionsWrapper{
    overflow: hidden;
    margin: 0px 0 5px 0;
}
.optionWrapper>div{
    margin: 5px 0;
}
.imgWrapper{
    margin: auto;
}
.imgWrapper>img{
    width: 100%;
    height: auto;
    display: flex;

}

.forSale{
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.address{
    font-size: 12px;
    color: #B1B1B1;
    margin: 5px 0;
}
.optionWrapper{
    font-weight: normal;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    font-family: Roboto;
    font-size: 12px;
}
.btnWrapper{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 11px 3px 3px;
    width: 15px;
    text-align: right;
    height: 21px;
    background: white;
    cursor: pointer;
}
.btnWrapper>span{
    margin: 3px 3px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
}
.showedClickable {
    position:absolute;
    /*display:none;*/
    width:auto;
    height:auto;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 5px 10px;
    margin: 2px;
    border: 0.5px solid #E6E4E4;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.16);
}
.showedClickable>div{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 0;
}
#showedClickable:target{
    display: block;
}
/*.btnWrapper:focus + .showedClickable {*/
    /*display:block;*/
/*}*/
@media screen and (max-width: 996px) {
    .optionWrapper{
        grid-template-columns: 1fr;
    }
    .optionWrapper>div:first-child{
        display: none;
    }
    .optionWrapper>div:last-child{
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .optionWrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .optionWrapper>div:first-child{
        display: block;
    }
    .optionWrapper>div:last-child{
        display: block;
    }
}