.wrapper{
    position: relative;
    background: #ffffff;
    display: grid;
    grid-gap: 1em;
    margin: 5px 0.8%;
}
.filterWrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.filterWrapper>button{
    color: #fff;
    background: #05BA02;
    height: 40px;
    margin: auto;
    padding: 0 5px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
}
.impWrapper{

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1em;
}
.impWrapper>input{
    width: 95%;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
.wrapper>select,input{
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    padding: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    cursor: pointer !important;
}
.wrapper>div>select,input{
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    padding: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    cursor: pointer !important;
}
.detailsWrapper>h4{
    margin: 0;
    padding: 0;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.details>div>input{
    margin-right: 10px;
}
.dataWrapper{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1em;
}