@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.menuWrapper{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 0, 0, 0);
    border-bottom: 1px solid #57C325;
}
.signWrapper{
    margin: 0 7%;
    height: 30px;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: right;
}
.signWrapper>div>a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
/*.line{*/
    /*!*margin-top: 5px;*!*/
    /*background: #C1C1C1;*/
    /*border: 1px solid #C1C1C1;*/
/*}*/
.navWrapper{
    margin: 12px 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 35px;

}
.imgWrapper>a{
    width: 197px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.block{
    background: #C1C1C1;
    width: 35px;
    height: 35px;
}
.links{
    text-align: center;
    font-size: 18px;
}
.links>a{
    margin: 0 25px;
}
.addButtonWrapper{
    text-align: right;
    float: right;
    display: inline-block;
    position: relative;
}
.addButtonWrapper>a{
    margin: 0 10px;
}
.addButton{
    /*display: block;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*margin:  7px 5px ;*/
}
.addButton:focus{
    outline:none;
}
.addButton:hover{
    border: 2px solid #05BA02;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 0.3s;
    padding: 0 0 5px 0;
}
.active{
    border: 2px solid #57C325;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 0.3s;
    padding: 0 0 5px 0;
}
.burger{
    display: none;
}
.lists{
    display: block;
}

.burger>span{
    display: block;
    border-radius: 5px;
    width: 30px;
    height: 4px;
    background: #000;
    transition: all 0.2s ease-in;
}
@media screen and (max-width: 996px) {
    .navWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .lists{
        background: #fff;
        position: fixed;
        top:9.2vh;
        left: 0;
        height: 100vh;
        width: 100%;
        clip-path: circle(10px at 90% -20%);
        -webkit-clip-path: circle(10px at 90% -20%);
        transition: all 1s ease-in-out;
        display: grid;
    }
    .addButtonWrapper{
        text-align: center;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(3,25px);
        grid-gap: 2em;
        padding: 10px 0;
        color: #000;
    }
    .open{
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
    }
    .burger{
        justify-self: end;
        display: block;
        cursor: pointer;
    }
}