.wrapper{
    display: grid;
    grid-template-columns: 6fr 5.3fr;
    margin: 0 1%;
}
.slider_block{
    position: sticky;
    top: 10vh;
    left: 0;
    height: 90vh;
}
/*.moreInfoBlock{*/
    /*height: 200vh;*/
/*}*/
.priceBlock{
    display: grid;
    font-size: 30px;
    grid-template-columns: 4fr 2fr;
    position: sticky;
    top: 10vh;
    background: white;
    border: 2px solid black;
    border-top: none;
    border-left:none;
    border-right: none;
    z-index: 99999;
}
.information{
    margin-top: 5%;
}
.listInfo{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
    margin-top: 10px;
}
.listNear{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.listNear>div>ul>li{
    margin: 5px 0;
}
.descriptionWrapper{
    margin: 5% 0;
}

.dateWrapper>div{
    margin: 10px 0;
}
.mapWrapper{
    margin: 10px 0 10% 0;
}
.commentWrapper{
    margin-bottom: 50px;
}
.commentWrapper>div>div>button{
    height: 50px;
    margin-top: 10px;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 3px;
    background: rgb(0, 255, 13);
}
.commentWrapper>div>div{
    display: grid;
}
@media(max-width: 700px){
    .wrapper{
        display: block;
    }
}