.filterWrapper{
    background: url("../../img/Rectangle2.png") center center no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    color: white;
    padding: 25px 0;
}
.filterWrapperSecond{
    display: block;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 22px 20px;
    margin: 5px 20%;
}
.links{
    text-align: left;
}
.links>a{
    
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 8px;
}
.inputsWrapper{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 1em;
    padding-top: 10px;
}
.inputsWrapper>select{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 38px;
}
.inputsWrapper>input{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 30px;
}
.moreWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.moreSettings{
    font-size: 15px;
    font-weight: normal;
    display: flex;
    margin: auto 0;
}
.moreSettings>p{
    margin-left: 5px;
}
.findButton{
    display: flex;
    justify-content: space-between;
    text-align: right;

}
.show>a{
    background: rgba(0, 0, 0, 0.53);
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 15px;
}
.search>a{
    color: #ffffff;
    background: #2B7608;
    border: 1px solid #57C425;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 15px;
    margin-left: 15px;
}
.dateWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}



@media (max-width: 1200px) {

}


@media (max-width: 992px) {
    .filterWrapperSecond{
        margin: 5px 15%;
    }
}


@media screen and (max-width: 768px) {
    .findButton{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
        text-align: center;
    }
    .moreWrapper{
        display: flex;
        flex-direction: column;
    }
    .inputsWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dateWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .search, .show{
        font-size: 13px;
    }
}


@media screen and (max-width: 576px){
    .dateWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .filterWrapperSecond{
        margin: 5px 5%;
    }
    .findButton{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px;
        grid-gap: 1em;
        margin: 0;
    }
    .search{
        margin-top: 10px;
    }
    .search>a{
        margin-left: 0;
        padding: 7px 30px;
    }
    .search, .show{
        font-size: 14px;
    }
}


