.filterWrapper{
    background: url("../../img/mainBackground.png") center center no-repeat fixed;
    /*background-attachment: fixed;*/
    display: grid;
    grid-template-columns: 4fr 2fr;
    position: relative;
    color: white;
    min-height: 100vh;
}
.filterWrapperSecond{
    /*display: block;*/
    background: rgba(0, 0, 0, 0.8);
    height: 92vh;
    position: sticky;
    top: 9.7vh;
    right: 0;
}
.links{
    text-align: left;
}
.links>a{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 8px;
}
.inputsWrapper{
    margin: 25px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-top: 10px;

}
.inputsWrapper>select{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 38px;
}
.inputsWrapper>input{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 30px;
}
.inputFilter{
    border: none;
    border-radius: 2px;
    height: 38px;
    padding: 0 5px;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.moreWrapper{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.moreSettings{
    font-size: 15px;
    font-weight: normal;
    display: flex;
    margin: auto 0;
}
.moreSettings>p{
    margin-left: 5px;
}
.findButton{
    display: flex;
    justify-content: space-between;
    text-align: right;

}
.show>a{
    background: rgba(0, 0, 0, 0.53);
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 15px;
}
.search>a{
    color: #ffffff;
    background: #2B7608;
    border: 1px solid #57C425;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 15px;
    margin-left: 15px;
}
.dateWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.dateWrapper>input{
    height: 38px;
    padding: 0 5px;
}
.moreDetails{
    color: #57C325;
}
.bookingDate{
    font-weight: 300;
}



@media (max-width: 1200px) {

}


@media (max-width: 992px) {
    /*.filterWrapperSecond{*/
        /*margin: 5px 15%;*/
    /*}*/
}


@media screen and (max-width: 768px) {
    .findButton{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
        text-align: center;
    }
    .moreWrapper{
        display: flex;
        flex-direction: column;
    }
    .inputsWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .dateWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .search, .show{
        font-size: 13px;
    }
    .filterWrapper{
        display:flex;
        flex-direction: column-reverse;
    }
    .filterWrapperSecond{
        position: relative;
        margin: 0 25px 25px 25px;
    }
}
.dateRangeWrapper>div>div{
    display: grid;
    grid-template-columns: 1fr 1em 1fr;
    /*grid-gap: 1em;*/
    z-index: 99;
}

.dateRangeWrapper>div>div>div>svg{
    display: none;
}
.dateRangeWrapper>div>div>label{
    border-radius: 3px;
}
.dateRangeWrapper>div>div>label>input{
    background: none;
    min-height: 38px;
}

@media screen and (max-width: 996px){
    .dateRangeWrapper>div>div>div{
        left: -25%;
    }
}
@media screen and (max-width: 768px){
    .dateRangeWrapper>div>div>div{
        left: 0;
    }
}
@media screen and (max-width: 576px){
    .dateWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .filterWrapperSecond{
        margin: 5px 5%;
    }
    .findButton{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px;
        grid-gap: 1em;
        margin: 0;
    }
    .search{
        margin-top: 10px;
    }
    .search>a{
        margin-left: 0;
        padding: 7px 30px;
    }
    .search, .show{
        font-size: 14px;
    }
}


