.filterWrapper{
    background: url("../../img/Rectangle2.png") center center no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    color: white;
    padding: 25px 0;
}
.filterWrapperSecond{
    display: block;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 22px 20px;
    margin: 5px 20%;
}
.links{
    text-align: left;
}
.links>a{
    
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 8px;
}
.inputsWrapper{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 1em;
    padding-top: 10px;
}
.inputsWrapper>select{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 38px;
}
.inputsWrapper>input{
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 30px;
}
.moreWrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}
.moreSettings{
    font-size: 16px;
    font-weight: normal;
}
.findButton{
    display: grid;
    grid-template-columns: 4fr 2fr;
    text-align: right;

}
.show>a{
    background: rgba(0, 0, 0, 0.53);
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 2px;
    color: #ffffff;
    padding: 8px 15px;
}
.search>a{
    color: #ffffff;
    background: #2B7608;
    border: 1px solid #57C425;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 15px;
}
.dateWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 800px) {
    .findButton{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .moreWrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}