.cardsWrapper{
    text-align: center;
    margin: 60px 0%;
    height: 100%;
}
.whereBuy{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #727272;
}
.cardWrapper{
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /*align-content: space-between;*/
    /*flex-direction: column;*/
    /*grid-template-columns: auto;*/
    /*grid-gap: 1em;*/
}
.moreWrapper{
    text-align: center;
}
.more{
    background: #05BA02;
    border: 1px solid #05BA02;
    padding: 12px 35px;
    border-radius: 4px;
    margin-top: 10px;
    color: #FFFFFF;
}
.more>a{
    color: #FFFFFF;
}
.more:focus{
    outline: none;
}
/*@media screen and (max-width: 996px) {*/
    /*.cardWrapper{*/
        /*grid-template-columns: repeat(3,1fr);*/
        /*grid-gap: 1em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 768px) {*/
    /*.cardWrapper{*/
        /*grid-template-columns: repeat(2,1fr);*/
        /*grid-gap: 1em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 530px) {*/
    /*.cardWrapper{*/
        /*grid-template-columns: repeat(1,1fr);*/
    /*}*/
/*}*/