.wrapper{
    border: 1px solid #E6E4E4;
    border-radius: 4px;
    width: 230px;
    height: 300px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    background: #fff;
}
.imgWrapper{
    height: 200px;
    background: #C4C4C4;
    overflow: hidden;
}
.imgWrapper>img{
    min-height: 100%;
    width: 100%;
}
.description{
    text-align: left;
    margin: 10px 12px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
}
.userName{
    text-align: left;
    margin: 5px 12px 0 12px;
    color: #A1A1A1;
    font-size: 16px;
}
.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hovered{
    height: 100%;
    background: #F2F2F2;
    position: relative;
    text-align: left;
    color: #000;
}
.hovered>div{
    padding: 10px 12px;
}
.hoveredTitle{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.address{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.moreBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    /*text-align: right;*/
}
.moreBtn>a{
    border-radius: 6px;
    padding: 4px 10px;
    background: #57C325;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
}