.wrapper{
    height: 100vh;
    width: 100vw;
    background: url("../../img/mainImg.png") center center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mainText{
    text-align: center;
    padding-top: 11.5%;
}
.btnWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0 7%;
}
.btnWrapper>a{
    margin: 0 auto;
    width: 340px;
    background: #ffffff;
    border: 1px solid #05BA02;
    padding: 25px 0;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.btnWrapper>a:hover{
    background: #05BA02;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.btnWrapper>a:first-child{

}