.wrapper{
    background: #2B7608;
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.textWrapper{
    text-align: center;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
}
.textWrapper>h3{
    text-transform: uppercase;
}
.textWrapper>div{
    padding: 0 10%;
    text-align: left;
}
.imgWrapper{
    height: 100%;
    width: 100%;
}
.imgWrapper>img{
    width: 100%;
    height: 100%;
}