.wrapper{
    height: 100%;
}
.content{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.menuWrapper{
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    background: #ffffff;
    height: 9vh;
    border-bottom: 1px solid #57C325;
}