.wrapper{
    height: 100%;
}
.content{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}
.menuWrapper{
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    background: #ffffff;
}